:root {
  --gradient : linear-gradient(
    90deg,
    rgba(129,46,204,1) 3%,
    rgba(85,36,209,1) 31%,
    rgba(57,57,212,1) 63%,
    rgba(49,102,208,1) 86%,
    rgba(30,150,251,1) 98%
    );
}

.navbar-item {
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
}


.navbar-login {
}

.navbar-menu {
}

.navbar-item-container {
}

.navbar {
  background-color: black;
  color: white;
  padding: 1em
}
